.topnav{
  background-color: #ED9121;
  text-align: center;
  padding: 10px;
}
body{
  background-color: #006B3C;
}
.navbar{
  background-color: white;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 700px;
}
.navbar ul li{
  display: inline-block;
}
#link3{
  position: absolute;
  right: 2px;
}

.navbar li a {
  display: block;
  color: orange;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.navbar li a:hover {
  background-color: #555;
  color: white;
}
.verticalbar{
  background-color: white;
  display: block;
  position: absolute;
  left: 2px;
  width: 190px;
  height: 500px;
}
.verticalbar ul{
  list-style-type: none;
  display: block;
}
.verticalbar ul li a{
  text-decoration: none;
  color: white;
}

.content2 {
  position: absolute;
  left: 200px;
  background-color: #FFC680;
  border: 11px solid #AAE3E2;
  width: 940px;
}
.content2 img{
  border-radius: 100px 100px 100px 100px;
  width: 200px;
  height: 200px;
}
.content2 h1{
  float: right;

}
.content22{
  background-color: #AAE3E2;
  position: absolute;
  top: 380px;
  left: 200px;
  width: 959px;
}
.content22 h1{
  text-align: center;
  color: #A84448;
}
.about{
  background-color: white;
  color: black;
  margin-left: 12px;
  margin-right: 10px;
  height: 220px;

}
.list{
  background-color: #AAE3E2;
  position: absolute;
  top: 525px;
  left: 200px;
  width: 940px;
  height: 162px;
}
.ullist{
  background-color: #7DB9B6;
  margin-left: 2px;
  width: 49%;
  position: absolute;
  top: 5px;
}
.ullist ul{
  list-style-type: upper-alpha;
}
.ollist{
  background-color: #183A1D;
  margin-right: 2px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 49%;
}
.ollist ol{
  list-style-type: upper-roman;
}



.content3{
  display: block;
  position: absolute;
  right: 2px;
  height: 150px;
}

.content3 img{
  display: block;
  width: 177px;
  height: 167px;
  padding: 4px;
}

.content13{
  display: block;
  position: absolute;
  right: 2px;
  height: 150px;
}

.content13 img{
  display: block;
  width: 160px;
  height: 90px;
  padding: 4px;
  top: 3px;
}

.footer {
  background-color: #8A3324;
  text-align: center;
  padding: 10px;
  position: absolute;
  top: 695px;
  width: 1310px;
}
.footer p{
  text-align: center;
}
